@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&family=Tilt+Neon&family=Tourney:wght@300&display=swap');

/* h1{
    position: absolute;
    top: 10%;
    left: 10%;
    color: rgb(232, 11, 11);
    z-index: 991;
} */

.movieList{
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
}

.entire{
    max-height: 100vh;
    overflow-y: auto; 
}

.movieItem{
    transition: transform .2s;
}

.movieItem:hover{
    transform: scale(1.03);
}