@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&family=Tilt+Neon&family=Tourney:wght@300&display=swap');

.entire{
    max-height: 100vh;
}

/* .entire::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  } */


.footer{
    width: 100%;
}