/* .content{
  z-index: 1000;
} */

/* .entire{
  max-height: 100vh;
  overflow-y: auto; 
} */

.movie-name-year {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  /* color: red; */
}

.movie-description {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
  /* color: red; */
}

.movie-propaties {
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid white;
}

.movie-gener {
  background-color: rgba(0, 0, 0, 1);
  border: 3px solid white;
}

.movie-downlod-button {
  background-color: rgba(0, 0, 0, 1);
  border: 3px solid white;
}
