@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&family=Teko:wght@300&family=Tilt+Neon&family=Tourney:wght@300&display=swap');



.movieName{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    /* font-size:1.3vw */
    font-size:20px
}

.year{
    padding-left: 6cm;
}
