@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&family=Teko:wght@300&family=Tilt+Neon&family=Tourney:wght@300&display=swap');



.movieName{
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    /* font-size:1.3vw */
    font-size:20px
}


.card-body::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  .card-img-top {
    height: 194px;
    width: 100%; /* Set fixed height for card image */
    object-fit: cover; /* Scale image to cover card image area */
  }

 
  .singleItem{
    transition: transform .2s;
}

.singleItem:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 40px 10px  white;
}
