img{
    width: 45px;
    margin-right: 10px;
}

.searchPng{
    /* width: 55px; */
    width: 48px;
    margin-top: -1px;
    
}

.menu{
    margin-top: 6px;
    width: 36px;
}

.hidden{
    visibility: hidden;
}

/* .search{
    right:18%;
    bottom: 19%;
} */

.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    /* padding: 25px; */
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 25px;
    /* padding-left: 80px; */
    padding-right: 25px;
    opacity: 0.2;
    transition: all 0.5s;
    margin-top: -10px;
    margin-right: 17px;
  }
  .search-hover:hover {
    width: 300px;
    padding-left: 28px;
  }

  /* .SlideBar{
    position: absolute;
    top: 0;
  } */
.sidebar{
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 1s;
}

.apend{
    left: 0;
    z-index: 101; 
}

.after{
    left: -100%;
    z-index: 101; 
    transition: left 3s;
}

.level{
    z-index: 100;
}

.siteName h1{
    color: black;
    position: absolute;
    top:39%;
    left:5%;
    font-family: 'Shantell Sans', cursive;
    font-style: oblique;
    font-size: 25px;
    -webkit-text-stroke: 0.1px white;
    font-weight: 600;
    z-index: 102;
}

.secondSiteName .site{
    color: black;
    position: absolute;
    top:25%;
    left:2%;
    font-family: 'Shantell Sans', cursive;
    font-style: oblique;
    font-size: 25px;
    -webkit-text-stroke: 0.1px white;
    font-weight: 600;
    z-index: 102;
}

.response-toggle-button{
    
    position: absolute;
    top: 1.7%;
    left: 93%;
    
    visibility: hidden;
    z-index: 290;
}

.response-toggle-button img {
    height: 40px;
    width: 54px;
}

.down-bar{
    background-color: black;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 300;
    color: white;
    opacity: 0.8;
    padding-top: 10px;
    padding-left: 20px;
    transition: top 1s;
    visibility: hidden;
}

.show-down-bar{
    top:0;
}

.after-down-bar{
    top: -100%;
    transition: top 3s;
}

.close-down-bar img{
    height: 50px;
    width: 65px;
    position: absolute;
    top: 0;   
    z-index: 301;
    left: 93%;
}

.down-bar p:hover{
    border-bottom: 1px solid white;
}

/* .toggle-navbar .down-bar p{
    width: 100%;
    height: 20px;
    border-bottom: solid white 1px;
} */

@media (max-width: 1128px) {
    .siteName h1 {
      visibility: hidden;
    }

    .call-center{
        visibility: hidden;
    }

    .home{
        visibility: hidden;
    }

    .user{
        visibility: hidden;
    }

    .searchPng{
        visibility: hidden;
    }

    .response-toggle-button img{
        visibility: visible;
    }

    .down-bar{
        visibility: visible;
    }
}

@media (max-width: 940px) {
    .close-down-bar img{
        left: 92%;
    }

    .response-toggle-button{
        left: 92%;
    }
}

@media (max-width: 805px) {
    .close-down-bar img{
        left: 90%;
    }

    .response-toggle-button{
        left: 90%;
    }
}

@media (max-width: 728px) {
    .close-down-bar img{
        left: 87%;
    }

    .response-toggle-button{
        left: 87%;
    }
}


.hide-expand-arrow{
    top: -20%;
}




