img{
    width: 45px;
    margin-right: 10px;
}

.searchPng{
    /* width: 55px; */
    width: 48px;
    margin-top: -1px;
    
}

.menu{
    margin-top: 6px;
    width: 36px;
}

.hidden{
    visibility: hidden;
}

/* .search{
    right:18%;
    bottom: 19%;
} */

.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    /* padding: 25px; */
    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 25px;
    /* padding-left: 80px; */
    padding-right: 25px;
    opacity: 0.2;
    transition: all 0.5s;
    margin-top: -10px;
    margin-right: 17px;
  }
  .search-hover:hover {
    width: 300px;
    padding-left: 28px;
  }

  /* .SlideBar{
    position: absolute;
    top: 0;
  } */
.sidebar{
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 1s;
}

.apend{
    left: 0;
    z-index: 101; 
}

.after{
    left: -100%;
    z-index: 101; 
    transition: left 3s;
}

.level{
    z-index: 100;
}

.siteName h1{
    color: black;
    position: absolute;
    top:39%;
    left:5%;
    font-family: 'Shantell Sans', cursive;
    font-style: oblique;
    font-size: 25px;
    -webkit-text-stroke: 0.1px white;
    font-weight: 600;
    z-index: 102;
}




