.closeButton {
  color: azure;
  /* background-color: #cecedc; */
  background-color:#000010;
  height: 100vh;
  width: 250px;
  opacity: 0.8;
  border-right: 1px solid white;
}

.close {
  width: 64px;
  padding-top: 8px;
  opacity: 1.5;
}

.Main {
  max-height: 730px;
  overflow-y: auto; 
}

.sidebarSiteName h1{
  color: black;
  position: absolute;
  top:3%;
  left:30.1%;
  font-family: 'Shantell Sans', cursive;
  font-style: oblique;
  font-size: 25px;
  -webkit-text-stroke: 0.1px white;
  font-weight: 600;
  z-index: 102;
}
